
/* Overall format including fonts, standard size, and webpage color */
body{
  min-width:300px;
  max-width:1536px;
  max-height:864px;
  background-color: #F9F4EC;
  text-align: center;
  margin: 2% 0 0  0;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 100%;
  padding:0;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size:325%;
    font-weight: 500;
    margin: 0;
    color: white;
}

h2{
  margin: 0 0 10px 0;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}

h3{
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;

}

h4{
  margin:0;
}

h5{
  margin:0;
}

h6{
  margin:10px 0 10px 0;
}

p{
  padding:0;
  margin:auto;
  font-size: 100%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #184d47;
  width: 12%;
  margin-top:0;

}

a{
  color: black;
  font-style: italic;
  text-decoration: underline;
}

/* HEADER AND NAVIGATION BAR SECTION */
.top-sect{
  background-color: #588068;
  border: solid;
  border-color: #184d47;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
}

.TopSectionNav{
    background-color: #588068;
    border: solid;
    border-color: #184d47;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0;
    margin-top: 0;
    margin-bottom:0;
}

.nav-link{
  font-style:normal;
  text-decoration:none;
  color: white;
}

/* WELCOME SECTION */
.welcome{
  width:55%;
  margin: 0 auto 10% auto;
}

.ProfilePic{
  height:540px;
  width: 360px;
  float:left;
  margin-right: 5%;
  margin-top: 0;
  padding:0;

}

.welcometext{
margin: 0 auto 4% auto;
}

.heading{
  font-size: 180%;
  font-weight: 600;
}

.intro{
  font-size: 130%;
  font-family: 'EB Garamond', serif;
  text-align: left;
  text-indent: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #E5B0A4 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 130% !important;
    padding:10px 20px 10px 20px !important;
}




.project-files{
  font-style:normal;
  text-decoration:none;
}



/* ACTVITIES SECTION */

.aboutMe{
  background-color: #E5B0A4;
  padding: 20px 0 20px 0;
}

.activity-row{
  width:55%;
  margin: 0 auto 4% auto;
  text-align: left;
  line-height: 1.5;
}
/* SKILLS SECTION */

.skill{
  background-color: #F9F4EC;
  padding: 20px 0 20px 0;
  margin:0;
}
.skill-row{
  width:55%;
  margin: 0 auto 4% auto;
  text-align: left;
  line-height: 1.5;
}

.skillIMG{
  height:120px;
  width: 120px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #184d47;
  border-width: thick;
  float: left;
  margin-right: 5%;
  box-shadow: 5px 5px 5px grey;
}


/* PORTFOLIO SECTION */
.myPortfolio{
background-color:#588068;
padding: 20px 0 200px 0;
margin:0;
color: white;
}

.project-row{
width:55%;
margin: 0 auto 4% auto;
line-height: 1.5;
}

.btn-light{
  margin-top:10px;
  padding:5px;
}

.projectdesc{
  text-align: left;
  text-indent: 2em;
}


.projectIMGS {
position: relative;
width: 220px; /* 130 x 100px on mobile */
height: 200px;
margin: 20px 2px 20px 2px;
border:solid;
border-color: white;
border-width: thick;
box-shadow: 5px 5px 5px  grey;
}

#projectCarouselIndicators{
  left:auto;
}

/* HOBBIES SECTION */
.Hobbies{
  margin: 0;
  padding: 10px 0 100px 0;
}

.hobby-row{
  width:55%;
  margin: 0 auto 20px auto;
  line-height: 1.5;
}

.hobbyIMG{
  height:180px;
  width: 180px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #E5B0A4;
  border-width: thick;
  box-shadow: 5px 5px 5px grey;
}


.bakingCarousel{
  margin: 0 auto 4% auto;
  padding: 10px 0 40px 0;
}

.travelingCarousel{
  margin: 0 auto 4% auto;
  padding: 10 0 40px 0;
}

.carousel-indicators{
  top: 0px;
  position: relative;
  padding-top:180px;
  margin-bottom: 0;

}

#travelingCarouselIndicator{
  border-top:220px;
  padding-top: 220px;
  padding-left:100px;
  padding-right:100px;
}


.Contact{
    background-color: #E5B0A4;

}

.contact-row{
  width:50%;
  line-height: 1.5;
  margin: 0 auto 4% auto;
}
