
/* Overall format including fonts, standard size, and webpage color */
body{
  background-color: #F9F4EC;
  text-align: center;
  margin: 2% 0 0  0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
  padding:0;
}

/* Top Header Section */
.top-sect{
  background-color: #EAF8E2;
  border: solid;
  border-color: #184d47;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
}

.TopSectionNav{
    background-color: #EAF8E2;
    border: solid;
    border-color: #184d47;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0;
    margin-top: 0;
}


/* Standard text for headings */
h1{
    font-family: 'Sacramento', cursive;
    font-size:325%;
    font-weight: 500;
    margin: 0;
}

h2{
  margin:10px 0 10px 0;
}

h3{
  margin:0;

}

h6{
  margin:10px 0 10px 0;
}
/* Standard for paragraph text. This is typical written stuff on the webpage.*/
p{
  padding:0;
  margin:auto;
  font-size: 100%;
}

/* Horizontal Rule */
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #D9C397;
  width: 8%;
}



.intro{
  width: 50%;
  margin:auto;
}

/* IMAGES */
.ProfilePic{
  height:200px;
  width: 200px;
  border-radius: 100%;
  border: solid;
  border-color: #97D0BB;
  border-width: thick;
}

/* SKILLS SECTION */

.skill{
  background-color: #E5B0A4;
  padding: 20px 0 20px 0;
  margin:0;
}
.skill-row{
  width:50%;
  margin: 0 auto 4% auto;
  text-align: left;
  line-height: 1.5;
}

.programmingIMG{
  height:120px;
  width: 120px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #97D0BB;
  border-width: thick;
  float: left;
  margin-right: 5%;
}

.webdevIMG{
  height:120px;
  width: 120px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #97D0BB;
  border-width: thick;
  float: left;
  margin-right: 5%;
}

.cadIMG{
  height:120px;
  width: 120px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #97D0BB;
  border-width: thick;
  float: left;
  margin-right: 5%;
}

/* HOBBIES SECTION */
.Hobbies{
  background-color: #97D0BB;
  margin: 0;
  padding: 20px 0 20px 0;
}

.hobby-row{
  width:50%;
  margin: 0 auto 180px auto;
  line-height: 1.5;
}

.bakingIMG{
  height:200px;
  width: 200px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #F5F2F5;
  border-width: thick;
}

.travelingIMG{
  height:180px;
  width: 180px;
  background-color: white;
  border-radius: 100%;
  border:solid;
  border-color: #F5F2F5;
  border-width: thick;
}


.bakingCarousel{
  margin: 0 auto 4% auto;
  padding: 10px 0 100px 0;
}

.travelingCarousel{
  margin: 0 auto 4% auto;
  padding: 10px 0 100px 0;
}
